{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="nav">
        <img src="{% static 'images/logo.jpg' %}" alt="logo">
    <nav>
        <ul>
            <li class="active"><a href="{% url 'home' %}">HOME</a></li>
            <li><a href="{% url 'service' %}">SERVICES</a></li>
            <li><a href=" {% url 'portfolio' %}">PORTFOLIO</a></li>
            <li><a href=" {% url 'clients' %}">CLIENT ALBUMS</a></li>
            <li><a href=" {% url 'about' %}">ABOUT</a></li>
            <li><a href="{% url 'contact' %} ">CONTACT</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
        </ul>
    </nav>
    <div class="icons">
        <a href=""><button class="msg">Welcome {{user.username}}</button> </a>
    </div>
</div>

    <div class="arial">
        <div class="arial-info">
            <h2 class="arial-heading">ARIAL PHOTOGRAPHY</h2>
            <p class="arial-paragraph">I'm a paragraph. Click here to add your own text and edit me.</p>
            <table>
                <tr>
                    <td>3hr</td>
                    <td>$199</td>
                </tr>
            </table>
            <a href="" class="book-now">BOOK NOW</a>
            <span class="hr"></span>
            <h6 class="arial-heading-2">Service Description</h6>
            <p class="arial-paragraph-2">Describe your service here. What makes it great? Use short catchy text to tell people what you offer, and the benefits they will receive. A great description gets readers in the mood, and makes them more likely to go ahead and book.</p>
            <img src="{% static 'images/aeial.jpg' %}" alt="">
            <h6 class="arial-heading-2">Contact Details</h6>
            <p class="arial-paragraph-2">info@mysite.com <br>

                500 Terry Francois Street, San Francisco, CA, USA</p>
        </div>

    </div>







    <footer>
        <div class="icon">
            <a href=""> <i class="ri-facebook-fill"></i></a>
           <a href=""> <i class="ri-instagram-line"></i></a>
           <a href=""> <i class="ri-youtube-line"></i></a>
           <a href=""> <i class="ri-linkedin-fill"></i></a>
        </div>
    </footer>
    
    <button id="topbtn"><i class="ri-arrow-up-line"></i></button>
    

    <script>
        $ (document).ready(function(){
    
            $(window).scroll(function(){
                if($(this).scrollTop() > 500){
                    $('#topbtn').fadeIn();
                } else {
                    $('#topbtn').fadeOut();
                }
            });
        $('#topbtn').click(function(){
            $('html,body').animate({scrollTop : 0},800);
        });
    
        });

</script>
    
</body>
</html>