{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

</head>
<body>
    <div class="main">
        <div class="main-img">
        <img src="{% static 'images/register.jpg' %}" alt="">
        <div class="card">
            <div class="card-title">
                <h3><i class="ri-user-fill"></i> User <span id="action_title">Login</span ></h3>
            </div>
            <div class="card-body">
                <div class="card-body-top">
                    <button class="btn" id="login" >login</button>
                    <div id="bottom_line"></div>
                </div>
                <div class="card-body-bottom">
                    <form action="" id="login_form" method="post">
                        {% csrf_token %}
                        <br>
                        <input type="text" name="username" class="input-field" required="" placeholder="Enter your username"><br><br>
                        <input type="password" name="password" class="input-field" required="" placeholder="Enter your password"><br><br>
                        
                        {% for message in messages %}
                        <div style="color:red;">
                         {{message}}     
                        </div>
               
                        {% endfor %}
                
                        <input type="submit" class="submit-field" value="login">
                    </form>
                      
                            <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>